@import "https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Satisfy&display=swap" ;
html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(rgba(189, 185, 185, 0.486),rgba(189, 185, 185, 0.452));
}
h1{
    font-family: cursive;
    margin-left: 25rem;
    margin-top: 8rem;
    font-size: 4.4rem;
    color: black;
    font-family: 'LuckiestGuy', cursive;

}
.tanjiro{
    height: 50rem;
    width: 50rem;
    margin-left: 43rem;
    border-radius: 60rem;
}
.dev{
    font-family:  'Satisfy',cursive;
    margin-left: 49rem;
    font-size: 4.5rem;

}
.name{
    margin-left: 30rem;
    font-family: 'Satisfy',cursive;
    font-size: 3rem;
}

@media only screen and (max-width:320px){
    html{
        font-size: 25%;
    }
}