@import "https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Satisfy&display=swap" ;
@import "https://fonts.googleapis.com/css2?family=Pacifico&display=swap";
html{
    font-size: 62.5%;
}

body{
    background: linear-gradient(rgba(189, 185, 185, 0.486),rgba(189, 185, 185, 0.452));
}
h1{
    font-family: cursive;
    margin-left: 24rem;
    margin-top: 8rem;
    font-size: 6rem;
    color: black;
    font-family: 'Pacifico', cursive;

}
.tanjiro{
    height: 80rem;
    width: 80rem;
    margin-left: 30rem;
    border-radius: 40rem;
}
.dev{
    font-family:  'Satisfy',cursive;
    margin-left: 49rem;
    font-size: 4.5rem;

}
.name{
    margin-left: 30rem;
    font-family: 'Satisfy',cursive;
    font-size: 3rem;
    margin-right: 20rem;
}

 @media only screen and (max-width:450px){
    html{
        font-size: 20%;
    }
    .name{
        margin-left: 13rem;
        font-size: 4rem;
        margin-right: 13rem;
    }
    h1{
        margin-left: 20rem ;
    }
    .tanjiro{
        margin-left: 25rem;
    }
} 