

@import 'https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap';

body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:40px;
    font-family: 'Merriweather Sans', sans-serif;
    
    
    background-color: lightcyan;
}

.container{
    margin-top: 40px;
    border: none;
    padding: 90px 50px;
    border-radius: 20px;
    background-size: cover;
    
    background-image: url('inner_bg.jpg');

}
#btn2{
    float: right;
}
#btn1,#btn2{
    border: none;
    padding: 15px 25px;
    background-color: rgb(218, 175, 175);
    color: white;
    cursor: pointer;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 101%;
}
#btn1:hover,#btn2:hover{
    border: none;
    padding: 15px 25px;
    background-color: rgb(219, 73, 73);
    color: white;
    
}

input{
    cursor: pointer;
}
#para{
    
    border: 2px solid black;
    padding-left: 20px;
    font-size: 14px;

    
    
}

